.container {
  padding: 0 2rem;
  width: 100%;
  min-height: 100vh;
}

.title{
  text-align: center;
    position: relative;
    font-family: 'Syne_Mono';
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13vmin;
    margin-top: 3.12rem;
}

.scene{
  height:100vh;
  position: relative;
}

.canvas{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  background-color: #000000;
}

nav.main{
  position: relative;
  padding: 0.62rem 1.56rem;
  text-align: center;
  margin-top: 30rem;
}

.htmlContent{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

button.main_menu {
  font-family: 'Syne_Mono';
  border: 0.06rem solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  width: 13rem;
  height: 3.12rem;
  font-size: 1.25rem;
  padding: 0.37rem 1.5rem;
  text-decoration: none;
  margin-left: 0.62rem;
  margin-bottom: 0.6rem;
}

button.main_menu:hover{
  cursor: pointer;
  border: 0.06rem solid #000000;
  color: #000000;
  background-color: #ffffff;
}

/* EXPERIMENTAL */

/* section.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
} */

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #cfcfcf;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../public/fonts/Comfortaa/Comfortaa-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne_Mono';
  src: url('../public/fonts/Syne_Mono/SyneMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Share_Tech_Mono';
  src: url('../public/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}