.container {
  padding: 0 2rem;
}

.container_fluid {
  padding: 0;
  margin: 0;
}

/* 
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */
/* 
.title a {
  color: #0070f3;
  text-decoration: none;
} */

/* .title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
} */

/* .title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
} */

.title{
  text-align: center;
    position: relative;
    font-family: 'Syne_Mono';
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10vmin;
    margin-top: 3.12rem;
}

/* .title,
.description {
  text-align: center;
  margin-bottom: 25%;
} */

/* .description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
} */

/* .code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #ffffff;
  border-color: #ffffff;
} */

/* .card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
} */


.scene{
  width:100vw;
  height:100vh;
}

.canvas{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  background-color: #000000;
}

nav.main{
  position: relative;
  padding: 0.62rem 1.56rem;
  text-align: center;
}

button.main_menu {
  font-family: 'Syne_Mono';
  border: 0.06rem solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  width: 13rem;
  height: 3.12rem;
  font-size: 1.25rem;
  padding: 0.37rem 1.5rem;
  text-decoration: none;
  margin-left: 0.62rem;
  margin-bottom: 0.6rem;
}

button.main_menu:hover{
  cursor: pointer;
  border: 0.06rem solid #000000;
  color: #000000;
  background-color: #ffffff;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #cfcfcf;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../public/fonts/Comfortaa/Comfortaa-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne_Mono';
  src: url('../public/fonts/Syne_Mono/SyneMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Share_Tech_Mono';
  src: url('../public/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}